#pragma once
char wifi_ssid[] = "iot";        // your network SSID (name)
char wifi_pass[] = "iotdev1337"; // your network password (use for WPA, or use as key for WEP)

// mqtt server
char mqtt_server[255] = "192.168.2.50";
uint16_t mqtt_port = 1883;
char mqtt_user[60] = "";
char mqtt_pass[60] = "";