#pragma once
#include <Arduino.h>

// your network SSID (name)
#define DEFAULT_STA_WIFI_SSID ""
// your network password (use for WPA)
#define DEFAULT_STA_WIFI_PASS "" 

// mqtt server
#define MQTT_SERVER "192.168.2.50"
#define MQTT_PORT 1883
#define MQTT_USER ""
#define MQTT_PASS ""
